<div class="comment">
    <div class="author">
        <%= time_ago_in_words(comment.created_at) %> ago 
        &mdash; <%= simple_format(comment.name) %>
    </div>
    <div class="text">
        <%= simple_format(comment.text) %>
    </div>
</div>