<header>
    <h3> New Comment </h3>
</header>

<%= bootstrap_form_with model: [article, comment], local: true do |f| %>
    <%= f.text_area :name %>
    <%= f.text_area :text %>
    <%= f.primary %>
<% end %>