<div class="edittag">
    <%= link_to "<span></span>".html_safe, admin_article_remove_tag_path(article, tag), 
    method: :get, remote: true, 
    class: "remove", title: "Remove tag" %>
    <%= tag.name %>
</div>